___
# Ciência dos Dados - PROJETO 1


### <font color=Grey>Guilherme Lotaif e Bruno Kaczelnick</font>
___

## Estudo dos brasileiros mais economicamente ativos

___
## Introdução

Neste projeto nós vamos analisar os dados da PNAD (Pesquisa Nacional por Amostra de Domicílios), que investiga anualmente as características da população. Este levantamento é um importante instrumento para o estudo socioeconômico do Brasil. 

A partir dos dados de 2011 e 2015 vamos fazer um estudo para identificar dentro do perfil dos `brasileiros economicamente ativos`, quais são os grupos sociais com **maior número de pessoas ativas**.

___
## Filtros da base de dados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/guilherme/Downloads

...
### Vamos abrir os arquivos:

Os arquivos que serão usados nesse projeto são 2 arquivos csv, com todas informações coletadas pela PNAD, esses dados precisarão ser formatados visando fazer a análise dos mesmos.

In [3]:
#Abrindo o arquivo com os dados de 2011:
All_data_2011 = pd.read_csv('PES2011.csv',sep=',')

In [4]:
#Analisando os tipos de informações no arquivo:
All_data_2011.get_dtype_counts()

float64    294
int64       30
dtype: int64

In [37]:
#Tabela do dataset(2011) pré-formatação:
All_data_2011.sample(2)

,V0101,UF,V0102,V0103,V0301,V0302,V3031,V3032,V3033,V8005,...,V4741,V4742,V4743,V4745,V4746,V4747,V4748,V4749,V4750,V9993
291165,2011,42,42000000.0,8,1,2,29,12,1975,35,...,2.0,1100.0,5.0,3,1.0,2.0,2.0,1.0,1100.0,20100000.0
344949,2011,52,52000000.0,6,3,2,5,5,1998,13,...,4.0,272.0,2.0,2,2.0,NaN,NaN,2.0,272.0,20100000.0

In [6]:
#Abrindo o arquivo com os dados de 2015:
All_data_2015 = pd.read_csv('PES2015.csv',sep=',')

In [7]:
#Analisando os tipos de informações no arquivo:
All_data_2015.get_dtype_counts()

float64    296
int64       33
dtype: int64

In [8]:
#Tabela do dataset(2015) pré-formatação:
All_data_2015.sample(2)

,Unnamed: 0,V0101,UF,V0102,V0103,V0301,V0302,V3031,V3032,V3033,...,V4741,V4742,V4743,V4745,V4746,V4747,V4748,V4749,V4750,V9993
56291,56291,2015,17,1293,19,1,2,5,9,1975,...,4.0,1800.0,5.0,5,1.0,2.0,2.0,1.0,1800.0,20161117
214781,214781,2015,33,4307,2,2,4,23,11,1983,...,2.0,1750.0,5.0,7,1.0,2.0,2.0,1.0,1750.0,20161117

...
### Vamos selecionar as váriaveis pertinentes para 2011:

In [9]:
#Vamos criar um dataframe com as váriaveis selecionadas:
df = ["UF","V0302","V8005","V0404","V0601","V6007","V9058","V9892","V4704"]

In [10]:
#Renomeando as colunas do dataframe:
df_2011 = All_data_2011[df]
df_2011.columns = ["UF", "Sexo", "Idade do morador", "Cor ou raça", "Sabe ler e escrever", "Curso mais elevado que cursou",
        "Número de horas trabalhadas por semana no trabalho", "Idade com que começou a trabalhar", "Condição de atividade"]

...
#### Atribuindo as características das váriaveis:

In [11]:
#Eliminando o aviso de copia de dataframe:
pd.set_option('chained_assignment',None)

In [12]:
#-UF:
df_2011.loc[(df_2011["UF"] == 11),"UF"] = "Rondônia"
df_2011.loc[(df_2011["UF"] == 12),"UF"] = "Acre"
df_2011.loc[(df_2011["UF"] == 13),"UF"] = "Amazonas"
df_2011.loc[(df_2011["UF"] == 14),"UF"] = "Roraima"
df_2011.loc[(df_2011["UF"] == 15),"UF"] = "Pará"
df_2011.loc[(df_2011["UF"] == 16),"UF"] = "Amapá"
df_2011.loc[(df_2011["UF"] == 17),"UF"] = "Tocantins"
df_2011.loc[(df_2011["UF"] == 21),"UF"] = "Maranhão"
df_2011.loc[(df_2011["UF"] == 22),"UF"] = "Piauí"
df_2011.loc[(df_2011["UF"] == 23),"UF"] = "Ceará"
df_2011.loc[(df_2011["UF"] == 24),"UF"] = "Rio Grande do Norte"
df_2011.loc[(df_2011["UF"] == 25),"UF"] = "Praíba"
df_2011.loc[(df_2011["UF"] == 26),"UF"] = "Pernambuco"
df_2011.loc[(df_2011["UF"] == 27),"UF"] = "Alagoas"
df_2011.loc[(df_2011["UF"] == 28),"UF"] = "Sergipe"
df_2011.loc[(df_2011["UF"] == 29),"UF"] = "Bahia"
df_2011.loc[(df_2011["UF"] == 31),"UF"] = "Minas Gerais"
df_2011.loc[(df_2011["UF"] == 32),"UF"] = "Espirito Santo"
df_2011.loc[(df_2011["UF"] == 33),"UF"] = "Rio de Janeiro"
df_2011.loc[(df_2011["UF"] == 35),"UF"] = "São Paulo"
df_2011.loc[(df_2011["UF"] == 41),"UF"] = "Paraná"
df_2011.loc[(df_2011["UF"] == 42),"UF"] = "Santa Catarina"
df_2011.loc[(df_2011["UF"] == 43),"UF"] = "Rio Grande do Sul"
df_2011.loc[(df_2011["UF"] == 50),"UF"] = "Mato Grosso do Sul"
df_2011.loc[(df_2011["UF"] == 51),"UF"] = "Mato Grosso"
df_2011.loc[(df_2011["UF"] == 52),"UF"] = "Goiás"
df_2011.loc[(df_2011["UF"] == 53),"UF"] = "Distrito Federal"

In [13]:
#-Sexo:
df_2011.loc[(df_2011.Sexo == 2),"Sexo"] = "Masculino"
df_2011.loc[(df_2011.Sexo == 4),"Sexo"] = "Feminino"

In [14]:
#-Cor ou raça:
df_2011.loc[(df_2011["Cor ou raça"] == 2),"Cor ou raça"] = "Branca"
df_2011.loc[(df_2011["Cor ou raça"] == 4),"Cor ou raça"] = "Preta"
df_2011.loc[(df_2011["Cor ou raça"] == 6),"Cor ou raça"] = "Amarela"
df_2011.loc[(df_2011["Cor ou raça"] == 8),"Cor ou raça"] = "Pardo"
df_2011.loc[(df_2011["Cor ou raça"] == 0),"Cor ou raça"] = "Indigena"

In [15]:
#-Sabe ler e escrever:
df_2011.loc[(df_2011["Sabe ler e escrever"] == 1),"Sabe ler e escrever"] = "Sim"
df_2011.loc[(df_2011["Sabe ler e escrever"] == 3),"Sabe ler e escrever"] = "Não"

In [16]:
#-Curso mais elevado que cursou:
df_2011.loc[(df_2011["Curso mais elevado que cursou"] == 1),"Curso mais elevado que cursou"] = "Elementar (Primário)"
df_2011.loc[(df_2011["Curso mais elevado que cursou"] == 2),"Curso mais elevado que cursou"] = "Médio 1˚ ciclo"
df_2011.loc[(df_2011["Curso mais elevado que cursou"] == 3),"Curso mais elevado que cursou"] = "Médio 2˚ ciclo"
df_2011.loc[(df_2011["Curso mais elevado que cursou"] == 4),"Curso mais elevado que cursou"] = "Regular do ensino Fundamental"
df_2011.loc[(df_2011["Curso mais elevado que cursou"] == 5),"Curso mais elevado que cursou"] = "Regular do ensino Médio"
df_2011.loc[(df_2011["Curso mais elevado que cursou"] == 6),"Curso mais elevado que cursou"] = "Supletivo do ensino Fundamental"
df_2011.loc[(df_2011["Curso mais elevado que cursou"] == 7),"Curso mais elevado que cursou"] = "Supletivo do ensino Médio"
df_2011.loc[(df_2011["Curso mais elevado que cursou"] == 8),"Curso mais elevado que cursou"] = "Superior de graduação"
df_2011.loc[(df_2011["Curso mais elevado que cursou"] == 9),"Curso mais elevado que cursou"] = "Mestrado ou doutorado"
df_2011.loc[(df_2011["Curso mais elevado que cursou"] == 10),"Curso mais elevado que cursou"] = "Alfabetização para jovens adultos"
df_2011.loc[(df_2011["Curso mais elevado que cursou"] == 11),"Curso mais elevado que cursou"] = "Creche"
df_2011.loc[(df_2011["Curso mais elevado que cursou"] == 12),"Curso mais elevado que cursou"] = "Classe de alfabetização - CA"
df_2011.loc[(df_2011["Curso mais elevado que cursou"] == 13),"Curso mais elevado que cursou"] = "Jardim da infância"
df_2011.loc[(df_2011["Curso mais elevado que cursou"].isnull() == True),"Curso mais elevado que cursou"] = "Não aplicável"

In [17]:
#-Número de horas trabalhadas por semana no trabalho principal:
df_2011.loc[(df_2011["Número de horas trabalhadas por semana no trabalho"].isnull() == True),"Número de horas trabalhadas por semana no trabalho"] = "Não aplicável"

In [18]:
#-Idade com que começou a trabalhar:
df_2011.loc[(df_2011["Idade com que começou a trabalhar"].isnull() == True),"Idade com que começou a trabalhar"] = "Não aplicável"

In [19]:
#-Condição de atividade:
df_2011.loc[(df_2011["Condição de atividade"] == 1),"Condição de atividade"] = "Economicamente ativas"
df_2011.loc[(df_2011["Condição de atividade"] == 2),"Condição de atividade"] = "Não economicamente ativas"
df_2011.loc[(df_2011["Condição de atividade"].isnull() == True),"Condição de atividade"] = "Não aplicável"

In [35]:
#Tabela do dataset(2011) pós-formatação:
df_2011.sample(2)

,UF,Sexo,Idade do morador,Cor ou raça,Sabe ler e escrever,Curso mais elevado que cursou,Número de horas trabalhadas por semana no trabalho,Idade com que começou a trabalhar,Condição de atividade
216215,Rio de Janeiro,Masculino,58,Pardo,Sim,Médio 2˚ ciclo,48,18,Economicamente ativas
28300,Pará,Masculino,29,Branca,Sim,Regular do ensino Médio,48,10,Economicamente ativas

...
### Vamos selecionar as váriaveis pertinentes para 2015:

In [21]:
#Vamos criar um dataframe com as váriaveis selecionadas:
df = ["UF","V0302","V8005","V0404","V0601","V6007","V9058","V9892","V4704"]

In [22]:
#Renomeando as colunas do dataframe:
df_2015 = All_data_2015[df]
df_2015.columns = ["UF", "Sexo", "Idade do morador", "Cor ou raça", "Sabe ler e escrever", "Curso mais elevado que cursou",
        "Número de horas trabalhadas por semana no trabalho", "Idade com que começou a trabalhar", "Condição de atividade"]

...
#### Atribuindo as características das váriaveis:

In [23]:
#-UF:
df_2015.loc[(df_2015["UF"] == 11),"UF"] = "Rondônia"
df_2015.loc[(df_2015["UF"] == 12),"UF"] = "Acre"
df_2015.loc[(df_2015["UF"] == 13),"UF"] = "Amazonas"
df_2015.loc[(df_2015["UF"] == 14),"UF"] = "Roraima"
df_2015.loc[(df_2015["UF"] == 15),"UF"] = "Pará"
df_2015.loc[(df_2015["UF"] == 16),"UF"] = "Amapá"
df_2015.loc[(df_2015["UF"] == 17),"UF"] = "Tocantins"
df_2015.loc[(df_2015["UF"] == 21),"UF"] = "Maranhão"
df_2015.loc[(df_2015["UF"] == 22),"UF"] = "Piauí"
df_2015.loc[(df_2015["UF"] == 23),"UF"] = "Ceará"
df_2015.loc[(df_2015["UF"] == 24),"UF"] = "Rio Grande do Norte"
df_2015.loc[(df_2015["UF"] == 25),"UF"] = "Praíba"
df_2015.loc[(df_2015["UF"] == 26),"UF"] = "Pernambuco"
df_2015.loc[(df_2015["UF"] == 27),"UF"] = "Alagoas"
df_2015.loc[(df_2015["UF"] == 28),"UF"] = "Sergipe"
df_2015.loc[(df_2015["UF"] == 29),"UF"] = "Bahia"
df_2015.loc[(df_2015["UF"] == 31),"UF"] = "Minas Gerais"
df_2015.loc[(df_2015["UF"] == 32),"UF"] = "Espirito Santo"
df_2015.loc[(df_2015["UF"] == 33),"UF"] = "Rio de Janeiro"
df_2015.loc[(df_2015["UF"] == 35),"UF"] = "São Paulo"
df_2015.loc[(df_2015["UF"] == 41),"UF"] = "Paraná"
df_2015.loc[(df_2015["UF"] == 42),"UF"] = "Santa Catarina"
df_2015.loc[(df_2015["UF"] == 43),"UF"] = "Rio Grande do Sul"
df_2015.loc[(df_2015["UF"] == 50),"UF"] = "Mato Grosso do Sul"
df_2015.loc[(df_2015["UF"] == 51),"UF"] = "Mato Grosso"
df_2015.loc[(df_2015["UF"] == 52),"UF"] = "Goiás"
df_2015.loc[(df_2015["UF"] == 53),"UF"] = "Distrito Federal"

In [24]:
#-Sexo:
df_2015.loc[(df_2015.Sexo == 2),"Sexo"] = "Masculino"
df_2015.loc[(df_2015.Sexo == 4),"Sexo"] = "Feminino"

In [25]:
#-Cor ou raça:
df_2015.loc[(df_2015["Cor ou raça"] == 2),"Cor ou raça"] = "Branca"
df_2015.loc[(df_2015["Cor ou raça"] == 4),"Cor ou raça"] = "Preta"
df_2015.loc[(df_2015["Cor ou raça"] == 6),"Cor ou raça"] = "Amarela"
df_2015.loc[(df_2015["Cor ou raça"] == 8),"Cor ou raça"] = "Pardo"
df_2015.loc[(df_2015["Cor ou raça"] == 0),"Cor ou raça"] = "Indigena"

In [26]:
#-Sabe ler e escrever:
df_2015.loc[(df_2015["Sabe ler e escrever"] == 1),"Sabe ler e escrever"] = "Sim"
df_2015.loc[(df_2015["Sabe ler e escrever"] == 3),"Sabe ler e escrever"] = "Não"

In [27]:
#-Curso mais elevado que cursou:
df_2015.loc[(df_2015["Curso mais elevado que cursou"] == 1),"Curso mais elevado que cursou"] = "Elementar (Primário)"
df_2015.loc[(df_2015["Curso mais elevado que cursou"] == 2),"Curso mais elevado que cursou"] = "Médio 1˚ ciclo"
df_2015.loc[(df_2015["Curso mais elevado que cursou"] == 3),"Curso mais elevado que cursou"] = "Médio 2˚ ciclo"
df_2015.loc[(df_2015["Curso mais elevado que cursou"] == 4),"Curso mais elevado que cursou"] = "Regular do ensino Fundamental"
df_2015.loc[(df_2015["Curso mais elevado que cursou"] == 5),"Curso mais elevado que cursou"] = "Regular do ensino Médio"
df_2015.loc[(df_2015["Curso mais elevado que cursou"] == 6),"Curso mais elevado que cursou"] = "Supletivo do ensino Fundamental"
df_2015.loc[(df_2015["Curso mais elevado que cursou"] == 7),"Curso mais elevado que cursou"] = "Supletivo do ensino Médio"
df_2015.loc[(df_2015["Curso mais elevado que cursou"] == 8),"Curso mais elevado que cursou"] = "Superior de graduação"
df_2015.loc[(df_2015["Curso mais elevado que cursou"] == 9),"Curso mais elevado que cursou"] = "Mestrado ou doutorado"
df_2015.loc[(df_2015["Curso mais elevado que cursou"] == 10),"Curso mais elevado que cursou"] = "Alfabetização para jovens adultos"
df_2015.loc[(df_2015["Curso mais elevado que cursou"] == 11),"Curso mais elevado que cursou"] = "Creche"
df_2015.loc[(df_2015["Curso mais elevado que cursou"] == 12),"Curso mais elevado que cursou"] = "Classe de alfabetização - CA"
df_2015.loc[(df_2015["Curso mais elevado que cursou"] == 13),"Curso mais elevado que cursou"] = "Jardim da infância"
df_2015.loc[(df_2015["Curso mais elevado que cursou"].isnull() == True),"Curso mais elevado que cursou"] = "Não aplicável"

In [28]:
#-Número de horas trabalhadas por semana no trabalho principal:
df_2015.loc[(df_2015["Número de horas trabalhadas por semana no trabalho"].isnull() == True),"Número de horas trabalhadas por semana no trabalho"] = "Não aplicável"

In [29]:
#-Idade com que começou a trabalhar:
df_2015.loc[(df_2015["Idade com que começou a trabalhar"].isnull() == True),"Idade com que começou a trabalhar"] = "Não aplicável"

In [30]:
#-Condição de atividade:
df_2015.loc[(df_2015["Condição de atividade"] == 1),"Condição de atividade"] = "Economicamente ativas"
df_2015.loc[(df_2015["Condição de atividade"] == 2),"Condição de atividade"] = "Não economicamente ativas"
df_2015.loc[(df_2015["Condição de atividade"].isnull() == True),"Condição de atividade"] = "Não aplicável"

In [34]:
#Tabela do dataset(2015) pós-formatação:
df_2015.sample(2)

,UF,Sexo,Idade do morador,Cor ou raça,Sabe ler e escrever,Curso mais elevado que cursou,Número de horas trabalhadas por semana no trabalho,Idade com que começou a trabalhar,Condição de atividade
83121,Ceará,Feminino,36,Pardo,Sim,Regular do ensino Fundamental,Não aplicável,Não aplicável,Não economicamente ativas
95251,Praíba,Feminino,53,Branca,Sim,Superior de graduação,15,10,Economicamente ativas

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!